@import "../../globalStyles/main.scss";
@import "../../globalStyles/color.scss";

.app-layout-wrapper {
    box-shadow: 0 0 40px -10px rgba($dark, 0.2);
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 2560px;
    min-height: 100vh;
    width: 100%;

    .app-layout-container {
        background-color: $card-background;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        .app-header-wrapper {
            align-items: center;
            box-shadow: $shadow-light;
            display: flex;
            z-index: 1;
            // height: rem(90);
        }

        .app-content-wrapper {
            background-color: $background;
            display: flex;
            flex: 1;
            overflow: auto;
            // height: calc(100vh - rem(140));

            .app-side-wrapper {
                box-shadow: $shadow-light;
                height: 100%;
                overflow: auto;
                width: clamp(400px, 25%, 250px);
            }

            .app-main-content-wrapper {
                display: flex;
                height: 100%;
                overflow-y: auto;
                width: 100%;
            }
        }

        .app-footer-wrapper {
            align-items: center;
            box-shadow: $shadow-light;
            display: flex;
            z-index: 1;
            // height: rem(50);
        }
    }
}
