@import "../../globalStyles/main.scss";
@import "../../globalStyles/color.scss";

.social-buttons {
    display: flex;
    gap: rem(20);
    justify-content: center;

    .social-button {
        align-items: center;
        aspect-ratio: 1/1;
        border: 1px solid $grey-2 !important;
        border-radius: 5px;
        display: flex;
        height: rem(120);
        justify-content: center;

        &__icon {
            height: rem(70);
            width: rem(70);
        }
    }
}
