@import "../../../globalStyles/main.scss";
@import "../../../globalStyles/color.scss";

.homepage-container {
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        padding: rem(24);

        & .banner {
            align-items: center;
            background-color: $card-background;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            padding: rem(10) rem(20);
            position: relative;
            width: 100%;

            & .header-content {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .header {
                    color: $title-color;
                    font-size: rem(20);
                    font-weight: 500;
                }

                .description {
                    color: $description-color;
                    font-size: rem(16);
                }
            }

            & .close-icon {
                background: $title-color;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                font-size: rem(28);
                position: absolute;
                right: -8px;
                top: -8px;
            }
        }

        & .main-container {
            display: flex;
            flex-direction: column;
            gap: rem(40);

            & .header-content {
                display: flex;
                flex-direction: column;
                gap: rem(8);

                .header {
                    color: $title-color;
                    font-size: rem(24);
                    font-weight: 500;
                }

                .description {
                    color: $description-color;
                    font-size: rem(18);
                }
            }

            & .auditoriums-container {
                display: grid;
                gap: rem(48);
                grid-template-columns: repeat(auto-fill, minmax(rem(500), 1fr));
            }
        }
    }
}

.preview-image-action-tooltip-title {
    color: white;
    font-size: rem(16);
}
