@import "../../globalStyles/main.scss";
@import "../../globalStyles/color.scss";

.footer-wrapper {
    align-items: center;
    display: flex;
    gap: rem(20);
    justify-content: center;
    width: 100%;

    > .footer {
        align-items: center;
        color: $sub-title-color;
        display: flex;
        font-size: rem(18);
        justify-content: center;
        margin: 0;
        font-family: "Marmelad", sans-serif !important;
        padding: 0 rem(24);

        .ant-typography {
            font-size: rem(20);
            color: $primary;
            &:hover {
                color: $purple-1;
            }
        }

        .footer-social-icons {
            display: flex;
            gap: rem(10);

            @media (width < $phone-min-width) {
                display: none;
            }

            .social-icon {
                cursor: pointer;
                width: rem(26);
            }
        }
    }
}
