@import "../../globalStyles/mixin.scss";

.footer-wrapper {
    align-items: center;
    background-color: $white;
    display: flex;
    gap: rem(20);
    justify-content: center;
    width: 100%;

    > .footer {
        align-items: center;
        display: flex;
        font-size: rem(18);
        justify-content: center;
        margin: 0;
        padding: 0 rem(24);

        .footer-social-icons {
            display: flex;
            gap: rem(10);

            @media (width < $phone-min-width) {
                display: none;
            }

            .social-icon {
                cursor: pointer;
                width: rem(26);
            }
        }
    }
}
