@import "../../../globalStyles/main.scss";
@import "../../../globalStyles/media.scss";
@import "../../../globalStyles/color.scss";

.dashboard-conatiner {
    height: 100%;
    width: 100%;

    .dashboard-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        padding: rem(24);

        .custom-tab {
            background-color: $dark-3;
            border-radius: rem(12);
            margin: rem(16);
            min-height: 70vh;
            overflow: hidden;
            padding: 0;
            position: relative;

            .ant-tabs-nav {
                background-color: $dark-3;
                position: sticky;
                top: 0;
                z-index: 10;
            }
        }

        .auditorium-wrapper {
            display: flex;
            flex-direction: column;
            gap: rem(32);
            padding: rem(16) rem(32);

            .header-section {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: rem(24);
                justify-content: space-between;
                padding: rem(0) rem(12);

                .header {
                    color: $title-color;
                    font-family: "Marmelad", sans-serif !important;
                    font-size: rem(24);
                    font-weight: 600;
                    margin: 0 rem(12);
                    width: fit-content;
                }

                .action-button {
                    margin-left: auto;
                }
            }

            .list-container {
                display: grid;
                gap: rem(48);
                grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
            }
        }

        .faculty-wrapper {
            display: flex;
            flex-direction: column;
            gap: rem(32);
            padding: rem(16) rem(32);

            .header-section {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: rem(24);
                justify-content: space-between;
                padding: rem(0) rem(12);

                .header {
                    color: $title-color;
                    font-family: "Marmelad", sans-serif !important;
                    font-size: rem(24);
                    font-weight: 600;
                    margin: 0 rem(12);
                    width: fit-content;
                }

                .action-button {
                    margin-left: auto;
                }
            }

            .faculties-container {
                width: 100%;

                .ant-table-wrapper {
                    width: 100%;
                }
            }
        }
    }

    @media (width < 425px) {
        .dashboard-wrapper {
            padding: 0;
            .auditorium-wrapper {
                .list-container {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

.add-edit-auditorium-modal {
    width: clamp(rem(320), 90vw, rem(1200)) !important;

    .ant-modal-body {
        .modal-container {
            display: flex;
            flex-direction: column;
            gap: rem(24);
            position: relative;
            width: 100%;

            .images-section {
                display: flex;
                gap: rem(24);
                width: 100%;

                .counter {
                    align-items: center;
                    background-color: $primary;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    height: rem(32);
                    justify-content: center;
                    left: rem(12);
                    position: absolute;
                    top: rem(12);
                    width: rem(32);
                    z-index: 10;
                }

                .main-image-frame {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    gap: rem(26);
                    height: 65vh;
                    overflow-y: auto;
                    padding-right: rem(8);

                    .main-section {
                        display: flex;
                        gap: rem(32);

                        .main-right-section {
                            display: flex;
                            flex-direction: column;
                            gap: rem(24);
                            width: calc(67% - rem(32));

                            .main-image {
                                position: relative;

                                .ant-image {
                                    display: flex;
                                    width: 100%;
                                }
                            }
                        }

                        .secondary-images-container {
                            aspect-ratio: 1/1;
                            overflow: auto;
                            width: 33%;

                            .hide-scrollbar {
                                display: flex;
                                flex-direction: column;
                                gap: rem(18);
                                padding-bottom: rem(8);
                                padding-right: rem(8);

                                .secondary-images-frame {
                                    aspect-ratio: 1.4;
                                    cursor: pointer;
                                    position: relative;
                                    width: 100%;

                                    .ant-image {
                                        display: flex;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .uploaded-image {
            aspect-ratio: 1.4;
            border-radius: rem(12);
            object-fit: fill;
        }

        .ant-upload {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .upload-card {
                .upload-icon {
                    width: rem(200);
                }
            }
        }

        .image-action-btn {
            display: flex;
            justify-content: space-between;

            svg {
                width: rem(20);
            }
        }

        .upload-card {
            aspect-ratio: 1.4;
            margin: 0 !important;

            .upload-icon {
                margin: 0 auto;
                width: rem(120);
            }

            .ant-card-body {
                align-items: center;
                aspect-ratio: 1.4;
                display: flex;
                flex-direction: column;
                gap: rem(12);
                justify-content: center;
            }
        }

        .ant-upload-text {
            font-size: rem(15);
            font-weight: 500;
            text-align: center;
        }

        .files-name {
            display: flex;
            flex-direction: row;
            gap: rem(24);
        }

        .features-conatiner {
            display: flex;
            flex-direction: column;
            gap: rem(24);

            > div {
                display: flex;
                flex-direction: column;
                gap: rem(20);

                .action {
                    display: flex;
                    justify-content: space-between;
                    .counter {
                        position: unset;
                    }
                    button {
                        padding: rem(16);

                        svg {
                            width: rem(20);
                        }
                    }
                }
                textarea {
                    height: rem(96);
                }
            }
        }

        .features-action {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            margin-top: rem(32);
        }
    }

    @media (width < $tablet-min-width) {
        .ant-modal-body {
            .modal-container {
                .images-section {
                    .main-image-frame {
                        .main-section {
                            flex-direction: column;

                            .main-right-section {
                                width: 100%;
                            }

                            .secondary-images-container {
                                aspect-ratio: unset;
                                height: rem(224);
                                width: 100%;

                                .hide-scrollbar {
                                    flex-direction: row;
                                    height: 100%;
                                    padding-bottom: 1.2rem;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.add-edit-faculty-modal {
    .faculty-tab {
        width: 100%;
        .custom-tab {
            width: 100%;

            .ant-tabs-nav-list {
                width: 100%;
                gap: rem(20);

                > div {
                    width: calc(50% - rem(10));
                    justify-content: center;
                }
            }
        }

        .faculty-form {
            width: 100%;
        }
    }
}
